[build]
  base = "web"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  API_BASE_URL = "https://issue-board-backend.onrender.com/api"
  API_KEY = "J3yPAMuS0j5w4AWj6P0bh2l7prZKBSq6"

[[plugins]]
  package = "@netlify/plugin-nextjs"
